body{
    margin:0;
    padding-top: 800px;

    
}
img{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#sankalp{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: blue;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.83;
    background: linear-gradient( #22b598 0%,#9ce838 100%  );
    display: table;
    height: 100%;
  width: 100%;  
}
.ravi{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
p{
    max-width: 450px;
    margin: 25px auto;
    line-height: 1.3;
}
#next{
    padding: 50px;
    text-align: center;
}